<div class="nav-item">
    <div class="container">
        <!-- <div class="nav-depart">
            <div class="depart-btn">
                <i class="ti-menu"></i>
                <span>Lựa chọn</span>
                <ul class="depart-hover">
                    <li class="active"><a href="#">Quần áo nữ</a></li>
                    <li><a href="/shop-men">Quần áo nam</a></li>
                    <li><a href="">Đò lót</a></li>
                    <li><a href="#">Quần áo trẻ em</a></li>
                    
                </ul>
            </div>
        </div> -->
        <nav class="nav-menu mobile-menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/shop">Cửa hàng giảm giá</a></li>
                <li><a>Thời trang</a>
                    <ul class="dropdown">
                        <li><a href="/shop-men">Nam</a></li>
                        <li><a href="/shop-women">Nữ</a></li>
                        <li><a href="/shop-kids">Trẻ em</a></li>
                    </ul>
                </li>
                <li><a href="./blog">Blog</a></li>
                <li><a href="./contact">Giới thiệu</a></li>
                <li><a>Thêm</a>
                    <ul class="dropdown">
                        <li><a href="./shopping-cart">Giỏ hàng</a></li>
                        <li><a href="./checkout">Thanh toán</a></li>
                        <li><a href="./register">Đăng ký</a></li>
                        <li><a href="./login">Đăng nhập</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>